<player-data
  (onNew)="onNew($event)"
  (onEdit)="onEdit($event)"
  (onSave)="onSave($event)"
  (onDelete)="onDelete($event)"
  (onSearch)="onSearch($event)"
  (onGetAll)="onGetAll($event)"
  [player]="selectedPlayer">
</player-data><br><br>
<player-registration
(onAddNewClub)="onAddNewClub($event)">
</player-registration><br><br>
<player-search
  [players]="players"
  (onViewPlayer)="onViewPlayer($event)">
</player-search>