<div *ngIf="player">
    <input [(ngModel)]="player.uniqueId" placeholder="Unique Id"><br>
    <input [(ngModel)]="player.firstName" placeholder="First Name"><br>
    <input [(ngModel)]="player.lastName" placeholder="Last Name"><br>
    <input [(ngModel)]="player.dateOfBirth" placeholder="Date of birth"><br>
    <input [(ngModel)]="player.placeOfBirth" placeholder="Place of birth"><br>
    <input [(ngModel)]="player.country" placeholder="Country"><br><br>
</div>

<button *ngIf="viewState === 'readOnly'" (click)="new(player)">New</button>
<button *ngIf="viewState === 'readOnly'" (click)="edit(player)">Edit</button>
<button *ngIf="viewState === 'edit' || viewState === 'new'" (click)="save(player)">Save</button>
<button *ngIf="viewState === 'edit' || viewState === 'new'" (click)="delete(player)">Delete</button>
<button *ngIf="viewState === 'readOnly' || viewState === 'search'" (click)="search(player)">Search</button>
<button (click)="getAll()">Get all</button>