<label>Player search results</label>
<ul *ngIf="players">
    <li *ngFor="let player of players">
        <label>{{player.firstName}}</label>
        <label>{{player.lastName}}</label>
        <label>{{player.dateOfBirth}}</label>
        <button (click)="viewPlayer(player)">View</button>
    </li>
</ul>