<label>Player registration</label><br><br>
<button (click)="addNewRegistration()">Add new registration</button><br><br>
<label>Club -------------------------- </label><label>Date from -------------------- </label><label>Date to </label><br><br>
<ul *ngIf="clubs">
    <li *ngFor="let club of clubs">
        <input [(ngModel)]="club.name" placeholder="Club">
        <input [(ngModel)]="club.dateFrom" placeholder="Date from">
        <input [(ngModel)]="club.dateTo" placeholder="Date to">
        <button (click)="addNewClub(club)">Save</button>
        <button (click)="deleteClub(club)">Delete</button>
    </li>
</ul>